body {
	padding: 0px;
	background: #1D91C1;
}

#header {
	background-color: #1218B5;
	padding: 5px;
}

.logo img {
	width: 80px;
	height: auto;
}

.logo {
	padding: 0;
	margin: 0;
	position: relative;
}

.navbar {
	left: 25%;
	position: absolute;
	top: 30px;
}

.navbar ul{
	padding: 0;
}

.navbar ul li {
	float: left;
	padding: 0 15px 0 5px;
	list-style-type: none;
}

.navbar ul li a {
	color: black;
}

.navbar ul li a:hover{
	background-color: #BD49EB;
}

#content {
	padding: 0;
	position: absolute;
}

.Anunturi {
	padding: 0.3%;
	font-size: 12px;
	text-align: justify;
	border: 5px solid #333;
	position: relative;
	margin-right: 80%;
}

.Anunturi a {
	color: #8A2AAF;
	padding-left: 3px;
}

.Anunturi h2 {
	text-decoration: underline;
}

.Anunturi h2 a{
	color: #300;
}

#game {
	background-color: red;
	padding: 10px;
	left: 23%;
	top: 18%;
	position: absolute;
}

#game canvas {
	background-color: black;
}


#footer {
	bottom: 0;
	left: 49%;
	color: white;
}